.footer{
    background: #000000;
}
.footer-container{

    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:100px ;
    align-items: center;


}
.footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #cccccc;

}
.footer-contato li{
    font-weight: bold;
    font-size: 2.225rem;
    color: #ffffff;
    margin-bottom: 30px;
    position: relative;

}
.footer-contato .icon-sociais{

    width: 25px;
    height: 25px;
    background: linear-gradient(45deg,#8a29f8,#5e0add);
    border-radius: 50%;
    border: solid #903cf0;
    padding: 6px;
    position: absolute;
    left: -60px;
    top: 0;

}


.footer-contato li a{
    color: #ffffff;
}
.footer-copy{
    grid-column: 1/-1;
    font-size: 1.125rem;
    color: #8f8f8f;
    text-align: center;
}

@media(max-width:911px){

    .footer-texto{
        font-size: 1.7rem;
        width: 75%;
    }
    .footer-contato li{
        font-size: 1.900rem;
    }

}
@media(max-width:800px){
    .footer-container{
        grid-template-columns: 1fr 1fr;
        gap: 40px;

    }
    .footer-contato li{
        font-size: 1.5rem;
    }
    .footer-contato .icon-email{
        width: 20px;
        height: 20px;
        top: -5px;
    }
    .footer-contato .icon-phone{
        width: 20px;
        height: 20px;
        top: -5px;
    }
    .footer-contato .icon-insta{
        width: 20px;
        height: 20px;
        top: -5px;
    }

}
@media(max-width:715px){

    .footer-container{
        grid-template-columns: 1fr;
    }
    .footer-contato .icon-sociais{
        display: none;
    }


}
@media(max-width:385px){
    .footer-texto{
        font-size: 0.850rem;
    }
    .footer-contato li{
        font-size: 1rem;
    }
    .footer-copy{
        font-size: 0.9rem;
    }
}
